doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/styles/styles.css")
    body 
        header.header 
            a(href="/") 전체
            a(href="/economy") 경제
            a(href="/politics") 정치
            a(href="/social") 사회
        block content
            